#nameForm input {
    width: 80px;
    margin-left: 6px;
    padding: 3px;
}

.navbar-form.form-search input[type=text] {
    width: 220px;
}

#main-container>div {
    padding: 48px 60px 48px 60px;
}

#main-container > .jumbotron {
    margin: 0;
}