<div class="main-container container" id="main-container">
    <section class="panel">

        <div class="page-header">
            <h1>Search Recipes</h1>
        </div>

        <label class="control-label col-sm-3 no-padding-right" >Recipes :</label>
            <div class="col-sm-9">
                <input type="text" id="search-bar" class="input-xlarge" ng-model="recipe.name" />
                <input id="recipe-search" type="button" class="btn btn-default" ng-model="search.button" ng-click="search(recipe.name)" value="Search"/>
            </div>

<div class="col-sm-12">
       <ul ng-repeat="rcp in recipeslist" class="list-recipe">
            <li>
            <div class="row">
                <div class="col-sm-6">
                <label>{{rcp.title}}</label>
                </div>
                <div class="col-sm-6">
                    <input type="button" class="btn btn-success" value="Show" ng-click="toggleShow(rcp)">
                </div>
            </div>
            </li>
        </ul>
        <input type="button" class="btn btn-default" value="Load more" ng-click="loadMore()" ng-hide="loadshow">

</div>
    </section>
</div>