<!DOCTYPE html>
<html id="ng-app" ng-app="NourritureWebApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Nourriture Web App</title>
    <link rel=stylesheet type=text/css href="css/style.css">
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
</head>
<body>
    <div ng-controller="MainCtrl">
        <h1>Nourriture Web App</h1>
        <hr />

        <h3>Hello, {{ name }}</h3>
        <p id="nameForm">
            <span>What's your name?</span>
            <input type="text" ng-model="name" />
        </p>
        <hr />

        <div>
            <ul ng-if="!loaderror">
                <li ng-repeat="ingredient in ingredients">
                    <strong>{{ ingredient.name }}</strong>
                    <p>Calories: {{ ingredient.calories }},
                        Carbs: {{ingredient.carbs }},
                        Protein: {{ingredient.protein }},
                        Fat: {{ ingredient.fat}}</p>
                </li>
            </ul>
            <p ng-if="loaderror">Failed to load ingredients...</p>
        </div>
    </div>
</body>
</html>